{% extends "base.html" %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="createAgentModal" tabindex="-1" role="dialog" aria-labelledby="createAgentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createAgentModalLabel">Create your Agent Instance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
              <label for="AgentName">Your Agent Name</label>
              <input type="text" class="form-control" id="AgentName" aria-describedby="agentNamehelp" placeholder="enter your agent name">
              <small id="agentNamehelp" class="form-text text-muted">Try entering an unique name or name-prefix. For example - lab-ubuntu-1 etc.</small>
            </div>
            <div class="form-group">
              <label for="AgentSecurityScheme">Specify Security-level required</label>
              <select class="form-control" id="AgentSecurityScheme">
                <option>None</option>
              </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
