{% extends "base.html" %}
{% block head_content %}
  <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='firebase_init.js') }}"></script>

  <script type="text/javascript">
      firebase.initializeApp(firebaseConfig);

      function emwebedSignInWithTokenId(user_content){
        var xhttp = new XMLHttpRequest();
        if (!xhttp) {
          alert('Fails to create XMLHttpRequest instance');
          return false;
        }
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log("received 200 ok for /submit/login button to emwebed server")
            // document.getElementById("demo").innerHTML = this.responseText;
          }
        };
        xhttp.open("POST", "/submit/login", true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(JSON.stringify(user_content));

        xhttp.send();
      }

      function initApp() {
          firebase.auth().onAuthStateChanged(function(user) {
          console.log("onauth state changed is called...")
          if (user) {
          // User is signed in.
            var displayName = user.displayName;
            var email = user.email;
            var emailVerified = user.emailVerified;
            var photoURL = user.photoURL;
            var isAnonymous = user.isAnonymous;
            var uid = user.uid;
            var providerData = user.providerData;
            console.log(user)
            user_text_content = JSON.stringify(user, null, ' ');
            console.log("user_text_content is received - Send it to Emwebed Server")
            // console.log(user_text_content)
            if (!emailVerified) {
              console.log("email is not verified")
            }
            emwebedSignInWithTokenId(user_text_content);
          } else {
            // User is signed out.
            console.log("User is Signed-out")
          }
        });

        document.getElementById('UserSignIN').addEventListener('click', SignIn, false);
        document.getElementById('UserSignOUT').addEventListener('click', SignOut, false);

      }

      function SignOut() {
        if (firebase.auth().currentUser) {
          // [START signout]
          console.log("currentUser is set - signing it out...")
          firebase.auth().signOut();
          // [END signout]
        }
      }
      /**
       * Handles the sign in button press.
       */
      function SignIn() {
        console.log("Invoking SignIn...")
        // alert("Signing-in...")
        if (firebase.auth().currentUser) {
          // [START signout]
          console.log("Already signed-in...")
          firebase.auth().signOut();
          // [END signout]
        } else {
          var email = document.getElementById('inputEmail').value;
          var password = document.getElementById('inputPassword').value;
          if (email.length < 4) {
            alert('Please enter an email address.');
            return;
          }
          if (password.length < 4) {
            alert('Please enter a password.');
            return;
          }
          // Sign in with email and pass.
          // [START authwithemail]
          firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // [START_EXCLUDE]
            if (errorCode === 'auth/wrong-password') {
              alert('Wrong password.');
              console.log(errorMessage);
            } else {
              alert(errorMessage);
            }
            console.log(error);
            // [END_EXCLUDE]
          });
          console.log("Sign-in done...Wait for Auth-status to update");

          // [END authwithemail]
        }
      }

    window.onload = function() {
      initApp();
    };
    //     $(document).ready(function(){
    //         $("#UserSignIN").click(SignIn);
    //     $(document).ready()
    // });
  </script>
{% endblock %}

{% block content %}
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <!-- Header section containing title -->
  <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
        <a href="/"><h3>Firebase Authentication</h3></a>
      </div>
    </div>
  </header>

  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

      <!-- Container for the demo -->
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
          <h2 class="mdl-card__title-text">Firebase Email &amp; Password Authentication</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <p>Enter an email and password below and either sign in to an existing account or sign up</p>

          <input class="mdl-textfield__input" style="display:inline;width:auto;" type="text" id="inputEmail" name="email" placeholder="Email"/>
          &nbsp;&nbsp;&nbsp;
          <input class="mdl-textfield__input" style="display:inline;width:auto;" type="password" id="inputPassword" name="password" placeholder="Password"/>
          <br/><br/>
          <button class="mdl-button mdl-js-button mdl-button--raised" id="UserSignIN" name="signin">Sign In</button>
          &nbsp;&nbsp;&nbsp;
          <button class="mdl-button mdl-js-button mdl-button--raised" id="UserSignOUT" name="signout">Sign out</button>
<!--           &nbsp;&nbsp;&nbsp;
          <button class="mdl-button mdl-js-button mdl-button--raised" disabled id="quickstart-verify-email" name="verify-email">Send Email Verification</button>
          &nbsp;&nbsp;&nbsp;
          <button class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-password-reset" name="verify-email">Send Password Reset Email</button> -->

          <!-- Container where we'll display the user details -->
          <div class="quickstart-user-details-container">
            Firebase sign-in status: <span id="quickstart-sign-in-status">Unknown</span>
            <div>Firebase auth <code>currentUser</code> object value:</div>
            <pre><code id="quickstart-account-details">null</code></pre>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
<!--   <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="UserSignIN">Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}